@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Federação Mato-grossense de Tênis - FMTT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis */
/* Protocolo de Produção: 3001510-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------- Início da Raíz */
:root {
  --background-color-body: #FAFAFA;
  --background-color-header: #4192D9;
  --background-color-header2: #265DA6;
  --background-color-nav: #4192D9;
  --background-color-menu: #144673;
  --background-color-menu-hover: #30BF6E;
  --background-color-main: #F2CD5E;
  --background-color-footer: #4192D9;
  --background-color-abas: #265DA6;
  --background-color-abas2: #144673;
  --background-color-abas-hover: #30BF6E;
  --background-image-body: url(_imgs/_backs/back01.png) repeat;
  --background-image-footer1: url(_imgs/_backs/back_2.png) repeat;
  --background-image-back1: url(_imgs/_backs/back_1.png) repeat;
  --background-image-back2: url(_imgs/_backs/back_2.png) repeat;
  --background-image-back3: url(_imgs/_backs/back_3.png) repeat;
  --cor-menu-hamburguer: #FF4500;
  --cor-texto-opcoes-burguer: #FF4500;
  --tam-grid-columns-body: 1fr 1fr 1fr;
  --color-texto: #FAFAFA;
  --color-texto-menu-hover: #F2CD5E;
  --color-texto-link: #FAFAFA;
  --color-back-link: #265DA6;
  --color-texto-header: #FAFAFA;
  --color-texto-abas-hover: #F2CD5E;
  --padding-reset: 0;
  --padding-containers: 0.5rem 4rem;
  --padding-sub-containers: 0.5rem 0.2rem;
  --padding-galeria-header: 0 1rem;
  --border-bottom-main-sections: 0.1rem solid #a7a4a4;

  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100vw;
  height: auto;
}

body {
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-areas: 
    "cabeca_Header cabeca_Header cabeca_Header"
    "cabeca_Header cabeca_Header cabeca_Header"
    "cabeca_Header cabeca_Header cabeca_Header"
    "conteudo_Main conteudo_Main conteudo_Main"
    "rodape_Footer rodape_Footer rodape_Footer";
  grid-template-columns: var(--tam-grid-columns-body);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background-color-body);
}
/* ---------------------- Fim da Raíz */



/* ---------------------- Início do Header */
header {
  grid-area: cabeca_Header;
  display: grid;
  width: 100%;
  color: white;
  grid-template-areas: 
    "cabeca_Header1 cabeca_Header1 cabeca_Header1"
    "cabeca_Header2 cabeca_Header2 cabeca_Header2"
    "cabeca_Header3 cabeca_Header3 cabeca_Header3";
  text-align: center;
  background: var(--background-color-header);
} section#area_Header_1 {
    grid-area: cabeca_Header1;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
      "cabeca_Header1_1 cabeca_Header1_2 cabeca_Header1_3";
    grid-template-columns: var(--tam-grid-columns-body);
    background: var(--background-image-back2);
  } #Header_1_Esq {
      grid-area: cabeca_Header1_1;
    } 
    #Header_1_Cen {
      grid-area: cabeca_Header1_2;
    }
    #Header_1_Dir {
      grid-area: cabeca_Header1_3;
    }
  section#area_Header_2 {
    grid-area: cabeca_Header2;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
      "cabeca_Header2_1 cabeca_Header2_2 cabeca_Header2_3";
    grid-template-columns: var(--tam-grid-columns-body);
    background: var(--background-image-back3);
  } #Header_2_Esq {
      grid-area: cabeca_Header2_1;
    } #Header_2_Esq img {width: 20%; padding: 0.4rem;}
    #Header_2_Cen {
      grid-area: cabeca_Header2_2;
    } #Header_2_Cen h1 {font-size: 2rem; padding: 0.4rem; color: white;}
    #Header_2_Dir {
      grid-area: cabeca_Header2_3;
    }
  section#area_Header_3 {
    grid-area: cabeca_Header3;
    width: 100%;
    padding: var(--padding-galeria-header);
    background: var(--background-image-back3);
  }


  /* ---------- Início Menu Hamburguer */
  #menu_Hamburguer {
    z-index: 2;
  }

  #menu_Bar {
    width: 3.2rem;
    height: 1.7rem;
    margin: 4.3rem 0 0 3.2rem;
    cursor: pointer;
  }

  .bar {
    height: 0.4rem;
    width: 100%;
    background-color: var(--cor-menu-hamburguer);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nave {
    transition: 0.3s ease;
    display: none;
  }
    .nave ul {
      padding: 1rem 0 0 2.2rem;
    }
    .nave li {
      list-style: none;
      padding: 1rem 0.2rem;
    }
    .nave li a {
      color: var(--cor-texto-opcoes-burguer);
      font-size: 1.3rem;
      text-decoration: none;
    }
    .nave li a:hover {
      font-weight: bold;
    }

  .menu_Bg, #menu_Hamburguer {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu_Bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 5.5rem 0 1.5rem 1.5rem;
    background: radial-gradient(circle, #F2CD5E, #F2CD5E);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change { 
    display: block;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotatez(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotatez(45deg);
  }

  .change_Bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }
  /* ---------- Fim Menu Hamburguer */


  /* ---------- Início Galeria de Fotos */
  /* Container da Galeria */
  .container_Galeria {
    width: 100%;
    height: auto;
    position: relative;
  }
    @media (min-width: 480px) {
        .container_Galeria {
          width: auto;
          margin: auto;
        }
    }

  /* Slides escondidos - Para o JS fazer aparecer */
  .slides {
    display: none;
  }

  /* Botões Anterior e Posterior */
  .anterior, .posterior {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.1);
  }

  /* Posicionamento dos botões Anterior e Posterior na tela */
  .anterior {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .posterior {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Reação dos botões Anterior e Posterior ao Mouse */
  .anterior:hover, .posterior:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Legenda da Imagem */
  .legenda {
    color: #f2f2f2;
    font-size: 1.3rem;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  .img_Slides {
    width: 100%;
  } 

  /* Number text (1/3 etc) */
  .marcacao {
    color: #f2f2f2;
    font-size: 1.3rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  @media (max-width: 768px) {
    .marcacao {
      top: 15px;
    }
  }

  /* Animação para troca de imagens */
  .animacao {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* ---------- Fim Galeria de Fotos */
/* ---------------------- Fim do Header */



/* ---------------------- Início do Main */
main {
  grid-area: conteudo_Main;
  padding: var(--padding-containers);
  background: var(--background-color-main);
}
.area_Main { 
  width: 100%;
  height: 30rem;
  border: 1px solid white;
  padding: var(--padding-sub-containers);
}
/* ---------------------- Fim do Main */



/* ---------------------- Início do Footer */
footer {
  grid-area: rodape_Footer;
  display: grid;
  grid-template-areas: 
    "rodape_Footer1 rodape_Footer1 rodape_Footer1"
    "rodape_Footer2 rodape_Footer2 rodape_Footer2";
  color: var(--color-texto);
  padding: var(--padding-reset);
  background: var(--background-color-footer);
} .area_Footer {
    padding: var(--padding-sub-containers);
  }

  /* ---------- Início Divisão Footer 1 */
  section#area_Footer_1 {
    grid-area: rodape_Footer1;
    padding: var(--padding-containers);
    background: var();
  } .nav_Tabs {
      position: relative;
      width: 44rem;
      height: 12rem;
      background-color: var(--background-color-abas);
    } .nav_Tabs ul {
        list-style: none;
      }
      .nav_Tabs li {
        float: left;
      }
      .nav_Tabs label {
        width: 11rem;
        display: block;
        cursor: pointer;
        text-align: center;
        border: 0.2px solid white;
        padding: 1rem 2rem;
        background: var(--background-color-abas2);
      } .rd_Tabs:checked ~ label {
          border: 0.2px solid var(--background-color-abas-hover);
          color: var(--color-texto-abas-hover);
          background: var(--background-color-abas-hover);
        } 
        .rd_Tabs {
          display: none;
        }
    .tab_Content {
      width: 100%;
      height: 8.76rem;
      display: none;
      position: absolute;
      left: 0;
      text-align: center;
      border-top: 1px solid var(--background-color-abas-hover);
      background-color: var(--background-color-abas-hover);
    } .rd_Tabs:checked ~ .tab_Content {
        display: block;
      } .tab_Content article {
          padding: var(--padding-sub-containers);
        }

    /* ---------- Início Menu Retrátil */
    .menu {
      width: 100%;
      height: auto;
      font-family: 'Arial';
    }

    .menu ul {
      list-style: none;
      position: relative;
    }

    .menu ul li {
      width: 25%;
      float: left;
    }

    .menu a {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 2%;
      color: var(--color-texto-link);
      background-color: var(--color-back-link);
    }

    .menu a:hover {
      color: var(--color-texto-menu-hover);
      background-color: var(--background-color-menu-hover);
      transition: all 1s;
    }

    .menu ul ul {
      position: absolute;
      visibility: hidden;
    }

    .menu ul li:hover ul {
      visibility: visible;
      transition: all 1s;
    }

    .menu ul ul li {
      float: none;
      width: 300%;
      margin-left: 100%;
      border-bottom: solid 1px #f4f4f4;
    }
    /* ---------- Fim Menu Retrátil */

    /* ---------- Início Modal Pop-Up */
    #botao_Excluir {
      width: 150px;
      height: 35px;
      cursor: pointer;
    } #botao_Excluir:hover {
        color: white;
        background-color: black;
        transition: 1.5s;
      }
    .modal_Container {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, .5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      display: none;
      justify-content: center;
      align-items: center;
    }
    .modal_Container.mostrar {
      display: flex;
    }
    .modal {
      background: white;
      width: 25%;
      padding: 2%;
      border: 10px solid green;
      box-shadow: 0 0 0 5px white;
    }
    @keyframes modal {
      from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    .mostrar .modal { 
      animation: modal .3s;
    }
    .c_Button {
      cursor: pointer;
      padding: 1% 3%;
      background-color: #c2bcbc;
    }
    /* ---------- Fim Modal Pop-Up */
  /* ---------- Fim Divisão Footer 1 */

  /* ---------- Início Divisão Footer 2 */
  section#area_Footer_2 {
    grid-area: rodape_Footer2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    background: var(--background-image-back2);
  } section#area_Footer_2 a {
      color: var(--color-texto-link);
    }
  /* ---------- Fim Divisão Footer 2 */
/* ---------------------- Fim do Footer */
