@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Instituto Mato-grossense de Tênis - IMT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis em prol crianças e adolescentes */
/* Protocolo de Produção: 0010108-2020 */


/* ----------------------------------------------------------------------------------------------------------------------------- */
/* HEADER */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container_contatos .area_header {
  grid-area: cabecalho;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: var(--tamanho-grid-template-columns);
  grid-template-rows: auto;
  grid-template-areas: 
    ". nomeimt ."
    ". barranav ."
    ". slider .";
  background: var(--background-image-header);
}
  .area_header .header_nome {
    grid-area: nomeimt;
    width: 100%;
    height: 15rem;
    margin: 1rem 0 0.5rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--color-titulos1);
  }
  .area_header .header_menu {
    grid-area: barranav;
    width: 100%;
    height: 8rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--background-image-header-nav);
  }
    .area_header .header_menu ul {
      width: auto;
      height: 8rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      align-self: center;
    }
      .area_header .header_menu ul li {
        width: auto;
        height: 8rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
      }
      .area_header .header_menu ul li a {
        width: 100%;
        height: 8rem;
        margin: 0 2.5rem;
        padding: 0 2rem;
        font-size: 3rem;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: var(--color-lista-itens-link);
      }
        .area_header .header_menu ul li a:hover {
          transition: background-color 1s;
          color: var(--color-lista-itens-hover);
          background-color: var(--color-lista-background-hover);
        }
  .area_header .header_slider {
    grid-area: slider;
    width: 100%;
    height: 64.5rem;
    margin: 0.5rem 0 10rem;
    border: 3.5rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }



/* ----------------------------------------------------------------------------------------------------------------------------- */
/* HEADER CELULAR */

@media only screen and (max-width: 700px) {
  :root {
    font-size: 30%;
  }

  .area_header .header_slider {
    display: none;
  }

  .area_header .header_menu {
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
    .area_header .header_menu ul {
      height: auto;
      display: flex;
      flex-direction: column;

    }
    .area_header .header_menu ul li {
      width: 80%;
      height: auto;
      margin: 0.5rem;
      display: flex;
      background: var(--background-image-header-nav);
    }
    .area_header .header_menu ul li a { 
      width: 100%;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .area_header .header_menu ul li a:hover { 
      margin: 0;
    }

}