@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Federação Mato-grossense de Tênis - FMTT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis */
/* Protocolo de Produção: 3001510-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* MAIN PRINCIPAL  #265DA6 #30BF6E #0460D9 #F2CD5E #4192D9 */

:root {
  --background-color-body: #FAFAFA;
  --background-color-header: #265DA6;
  --background-color-nav: #4192D9;
  --background-color-menu: #144673;
  --background-color-menu-hover: #30BF6E;
  --background-color-main: #F2CD5E;
  --background-color-footer: #4192D9;
  --background-image-body: url(../_imgs/_backs/back01.png) repeat;
  --tam-grid-columns-body: 100vw; 
  --tam-grid-columns-header: 33% 33% 33%;
  --color-texto-menu-hover: #F2CD5E;
  --color-background: ;
  --color-nav-topbar: ;
  --color-texto-header: #FAFAFA;
  --color-main: ;
  --color-publicidade: ;
  --color-main-conteudo1: ;
  --color-main-conteudo3: ;
  --color-footer: ;
  --color-titulos1: ;
  --color-subtitulo1: ;
  --color-texto1: ;
  --color-lista: ;
  --color-lista-itens: ;
  --color-lista-itens-link: ;
  --color-lista-itens-visited: ;
  --color-lista-itens-hover: ;
  --color-lista-itens-active: ;
  --color-lista-background-hover: ;
  --color-button-slider: ;
  --margin-main-sections: ;
  --margin-main-patronos-imgs: ;
  --padding-containers: 1rem 2rem;
  --padding-main-sobre-articles: ;
  --padding-main-projetos-articles: ;
  --padding-main-patronos: ;
  --padding-bottom-main-sections: ;
  --border-bottom-main-sections: 0.1rem solid #a7a4a4;

  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 98.5vw;
  height: auto;
}

body {
  display: grid;
  grid-template-areas: 
    "cabeca"
    "navegador"
    "conteudo"
    "rodape";
  grid-template-columns: var(--tam-grid-columns-body);
  grid-row-gap: 0.2%;
  background: var(--background-color-body);
}

header {
  grid-area: cabeca;
  padding: var(--padding-containers);
  display: grid;
  grid-template-areas: 
    "identidade"
    "slider";
  background: var(--background-color-header);
}

main {
  grid-area: conteudo;
  padding: var(--padding-containers);
  text-align: center;
  background: var(--background-color-main);
}

nav {
  grid-area: navegador;
  padding: var(--padding-containers);
  text-align: center;
  background: var(--background-color-nav);
}

footer {
  grid-area: rodape;
  padding: var(--padding-containers);
  text-align: center;
  background: var(--background-color-footer);
}

