@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Federação Mato-grossense de Tênis - FMTT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis */
/* Protocolo de Produção: 3001510-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER GERAL */

.area_Footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1; 
  color: #FAFAFA;
  border: 1px solid white;
}

  .footer_MenuAbas {
    display: flex;
    width: 99%;
    height: auto;
    margin: 0.5% 0.5% 0 0.5%;
    flex-direction: row;
    flex-wrap: wrap;
  } .footer_MenuAbas a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.5% 2%;
      color: var(--color-texto-link);
      background-color: var(--background-color-header2);
    } .footer_MenuAbas a:hover {
        color: var(--color-texto-menu-hover);
        background-color: var(--background-color-menu-hover);
        transition: all 1s;
      }

  .footer_ConteudoAbas {
    display: flex;
    width: 99%;
    height: auto;
    padding: 0.5%;
    margin: 0% 0.5% 0.5% 0.5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: 1;
    flex-shrink: 1;
    align-self: center;
    background-color: var(--background-color-header2);
  } .aba1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-flow: 1;
      flex-shrink: 1;
      align-self: center;
    }
    .aba2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-flow: 1;
      flex-shrink: 1;
      align-self: center;
    }
    .aba3 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-flow: 1;
      flex-shrink: 1;
      align-self: center;
    }









.contato {
  order: 1;
  width: 33.25%;
}
  .infos1 h2 {text-transform: uppercase;}

.endereco {
  order: 2;
  width: 33.5%;
}
  .infos2 h2 {text-transform: uppercase;}

.pagina_Face {
  order: 3;
  width: 33.25%;
}


