@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Federação Mato-grossense de Tênis - FMTT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis */
/* Protocolo de Produção: 3001510-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* HEADER GERAL */

.identificacao {
  grid-area: identidade;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-texto-header);
}
    .logo_Tipo {
      order: 1;
      width: 33.25%;
      text-align: center;
    }
      .logo_Tipo img {width: 15%;}
    .nome_Entidade {
      order: 2;
      width: 33.5%;
      text-align: center;
    }
    .redes_Sociais {
      order: 3;
      width: 33.25%;
      text-align: center;
    }


.rolagem {
  grid-area: slider;
  text-align: center;
  align-items: center;
  background-color: red;
}

