@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Federação Mato-grossense de Tênis - FMTT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis */
/* Protocolo de Produção: 3001510-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* MAIN PRINCIPAL */

:root {
  --background-color-header: #6850BF;
  --background-color-body: #F2CD5E;
  --background-color-footer: #5D4AD9;
  --background-image-body: url(../_imgs/_backs/back01.png) repeat;
  --background-color-projetos-articles: ;
  --tamanho-grid-columns: 1fr 18fr 1fr;
  --tamanho-grid-rows: 2fr 6fr 2fr;
  --color-background: ;
  --color-nav-topbar: ;
  --color-nav-bottombar: ;
  --color-header: ;
  --color-main: ;
  --color-publicidade: ;
  --color-main-conteudo1: ;
  --color-main-conteudo2: ;
  --color-main-conteudo3: ;
  --color-main-conteudo4: ;
  --color-footer: ;
  --color-titulos1: ;
  --color-titulos2: ;
  --color-subtitulo1: ;
  --color-subtitulo2: ;
  --color-texto1: ;
  --color-texto2: ;
  --color-lista: ;
  --color-lista-itens: ;
  --color-lista-itens-link: ;
  --color-lista-itens-visited: ;
  --color-lista-itens-hover: ;
  --color-lista-itens-active: ;
  --color-lista-background-hover: ;
  --color-button-slider: ;
  --margin-main-sections: ;
  --margin-main-patronos-imgs: ;
  --padding-main-titulo1: ;
  --padding-main-titulo2: ;
  --padding-main-sobre-articles: ;
  --padding-main-projetos-articles: ;
  --padding-main-contatos-articles: ;
  --padding-main-patronos: ;
  --padding-bottom-main-sections: ;
  --border-bottom-main-sections: 0.1rem solid #a7a4a4;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: grid;
  grid-template-columns: var(--tamanho-grid-columns);
  grid-template-rows: var(--tamanho-grid-rows);
  grid-row-gap: 0.5rem;
  grid-template-areas: 
    "cabeca cabeca cabeca"
    "conteudo conteudo conteudo"
    "rodape rodape rodape";
}

header {
  grid-area: cabeca;
  color: #FAFAFA;
  background: var(--background-color-header);
}

main {
  grid-area: conteudo;
  background: var(--background-color-body);
}

footer {
  grid-area: rodape;
  background: var(--background-color-footer);
}

