@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário */
/* Cliente: Harrison Ribeiro - HR */
/* Descrição: Político - candidato a cargo eletivo */
/* Protocolo de Produção: 0020309-2020 */

/* ----------------------------------------------------------------------------------------------------------------------------- */

* { /* Define as características básicas de todos os elementos */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
}

@font-face {
  font-family: '';
  src: url(...);
}

:root {
  --background-image-body: url(../_imgs/_backs/back01.png) repeat;
  --background-image-header: url(../../_imgs/_backs/img03.png) repeat;
  --background-image-header-nav: url(../../_imgs/_backs/img11.jpg) repeat;
  --background-image-main: url(../../_imgs/_backs/img08.jpg) repeat;
  --background-image-footer: url(../../_imgs/_backs/img01.png) repeat;
  --background-color-sobre-articles: ;
  --tamanho-grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  --color-background: red;
  --color-nav-topbar: #4A548C;
  --color-nav-bottombar: #366CD9;
  --color-header: #4A548C;
  --color-main: #b4d4f0;
  --color-publicidade: #79AEF2;
  --color-main-conteudo1: #4E7CD9;
  --color-main-conteudo2: #79AEF2;
  --color-main-conteudo3: #4E7CD9;
  --color-main-conteudo4: #79AEF2;
  --color-footer: #4A548C;
  --color-titulos1: #FFFAFA;
  --color-titulos2: #000000;
  --color-subtitulo1: #FFFAFA;
  --color-subtitulo2: #000000;
  --color-texto1: #FFFAFA;
  --color-texto2: #000000;
  --color-lista: #366CD9;
  --color-lista-itens: #4A548C;
  --color-lista-itens-link: #FFFAFA;
  --color-lista-itens-visited: #91C5F2;
  --color-lista-itens-hover: #000000;
  --color-lista-itens-active: #4A548C;
  --color-lista-background-hover: #91C5F2;
  --color-button-slider: #FFFAFA;
  --margin-main-sections: 2rem 0;
  --margin-main-patronos-imgs: 1rem 1rem;
  --padding-main-titulo1: 1rem 2rem 3rem;
  --padding-main-titulo2: 2rem 2rem;
  --padding-main-sobre-articles: 1rem 2rem;
  --padding-main-projetos-articles: 1rem 2rem;
  --padding-main-contatos-articles: 1rem 2rem;
  --padding-main-patronos: 1rem 2rem;
  --padding-bottom-main-sections: 3rem;
  --border-bottom-main-sections: 0.1rem solid #a7a4a4;
}

header {
  height: 120px;
  width: 100%;
  background-color: #7bac3f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 1rem;
  z-index: 1;
  transition: all .3s;
}

header h1 {
  text-transform: uppercase;
  padding: 0 40px;
  text-align: center;
}

main {
  padding-top: 120px;
}

.section_info {
  padding: 60px;
}

h2.header {
  font-size: 1.8rem;
  color: #494949;
  text-transform: uppercase;
  margin: 20px 0;
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

footer {
  background-color: #494949;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}








/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Responsivo e Adaptativo */

@media only screen and (max-width: 700px) {
  :root {
    font-size: 35%;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1600px) {
  :root {
    font-size: 55%;
  }
}