@charset "UTF-8";
/* Autor: Junior Martins - https://juniormartins.46graus.com/ */
/* Objetivo: Trabalho voluntário para o aprendizado do autor */
/* Cliente: Instituto Mato-grossense de Tênis - IMT */
/* Descrição: Entidade sem fins lucrativos de fomento do tênis em prol crianças e adolescentes */
/* Protocolo de Produção: 0010108-2020 */


/* ----------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container_projetos .area_aside {
  grid-area: rodape1;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: var(--tamanho-grid-template-columns);
  grid-template-areas: 
    ". roda1 ."
    ". roda1 .";
  background: var(--background-image-footer-um);
}
  .area_aside .aside_rodape1 {
    grid-area: roda1;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
  }


.container_projetos .area_footer {
  grid-area: rodape2;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: var(--tamanho-grid-template-columns);
  grid-template-areas: 
    ". roda2 .";
  background: var(--background-image-footer-dois);
}
  .area_footer .footer_rodape2 {
    grid-area: roda2;
    width: 100%;
    height: auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-titulos1);
  }
    .area_footer .footer_rodape2 a {
      color: var(--color-titulos1);
    }
